fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic>=2.0
pydantic[email]
pydantic-settings
python-jose[cryptography]
httpx
reportlab
arabic-reshaper
python-bidi
num2words
pytest
pytest-asyncio>=0.21
